* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*components: header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    padding: 10px;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-weight: bold;
    color: rgb(88, 96, 103);
}
